body {
    background-image: url("../img/trollface-bg.jpg");
    background-repeat: no-repeat;
    background-color: #111111;
    font-family: "Comic Sans MS";
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.menus {
    color: #EEEEEE;
    background-color: #111111;
    opacity: 0.9;
}

#logincontainer {
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 300px;
    width: 350px;
}
#loginform {
    color: #111111;
    background-color: #FFFFFF;
    padding: 20px;
    border: 2px solid #111111;

}

#maincontainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#desktopcontainer {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.icon {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-repeat: no-repeat;
    z-index: 80;
}

#icon1 {
}
#icon2 {
}
#icon3 {
}

/* container with phpinfo object */
#phpinfo_container {
    position: relative;
    top: 100px;
    left: 300px;
    width: 500px;
    height: 300px;
    overflow: scroll;
    z-index: 50;
}
.topbar {
    width: 100%;
    height: 20px;
    border: 2px solid #666666;
    z-index: 60;
}
.closebutton {
    float: right;
    width: 20px;
    height: 20px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    z-index: 70;
}
.htmlobject {
    width: 100%;
    height: 100%;
}

/* taskbar at bottom of screen */
#taskbar_container {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    bottom: 0px;
    border-top: 2px solid #444444;
    z-index: 100;
}
#startmenu {
    position: absolute;
    bottom: 50px;
    left: 0px;
    padding: 10px;
    z-index: 100;
}
.startmenu_item {
    padding: 5px;
    opacity: 1;
}
#taskbar {
    position: relative;
    bottom: 0px;
    height: 50px;
    width: 100%;
    z-index: 100;
}
#startbutton {
    position: absolute;
    top: 0px;
    height: 30px;
    width: 30px;
}
